/*--------------- SELECTORS */

body {
    font-family: 'Acme', sans-serif;
}

h1 {
    margin-bottom: 80px;
    font-size: 3em;
}

h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.black {
    width: 700px;
    padding: 10px;
    background-color: black;
    color: white;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-size: 1.5em;
    padding: 8px;
    border: 1px dotted white;
    color: white;
    text-decoration: none;
  }

  button a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }

  li a:hover {
    color: black;
    background-color: white;
  }

  * {
    box-sizing: border-box;
  }

  button {
    position: fixed;
    bottom: 10px;
    right: 15px;
    background-color: grey;
    padding: 8px;
    border: 1px dotted white;
    text-align: center;
    text-decoration: none;
  }

  .backButton {
    border: 1px dotted black;
  }

  button:hover {
    background-color: black;
  }

/*------------------ BLOCK */
.block {
	margin: 0;
	width: 100%;
    color: white;
    padding-left: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
}

#intro {
	background-color: red;
}
#info1 {
	background-color: orange;
}

#info2 {
	background-color: #ffcc00;
}

#info3 {
	background-color: #66ff33;
}

#info4 {
  background-color: #0099ff;
}

/*--------------- MEDIA RULES */

@media only screen and (max-width: 820px) {
    .block {
        padding-left: 0;
    }

    p, button a {
      font-size: 1em;
    }

    .black {
      width: 100%;
    }
  }