/*--------------- SELECTORS */

body {
    font-family: 'Acme', sans-serif;
    text-align: center;
    position: relative;
}

h1 {
margin-bottom: 80px;
font-size: 3em;
}

h2 {
margin-bottom: 20px;
font-size: 2.5em;
}

p {
font-size: 1.5em;
}

/*------------------ BLOCK */
.block {
	position: relative;
	margin: 0;
	width: 100%;
    color: #009933;
    padding-top: 80px;
    padding-bottom: 300px;
}

.intro {
	background-color: #ffcc00;
}
.info1 {
	background-color: #ff5050;
}

.info2 {
	background-color: #ff33cc;
}

.info3 {
	background-color: #9966ff;
}