/*--------------- SELECTORS */

body {
    font-family: 'Acme', sans-serif;
}

h1 {
    margin-bottom: 80px;
    font-size: 3em;
}

h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
}

span {
    padding: 10px;
    background-color: black;
    color: white;
}

/*------------------ BLOCK */
.block {
	margin: 0;
	width: 100%;
    color: white;
    padding-left: 20%;
    padding-top: 60px;
    padding-bottom: 60px;
}

#intro {
	background-color: #ffcc00;
}
#info1 {
	background-color: #ff5050;
}

#info2 {
	background-color: #ff33cc;
}

#info3 {
	background-color: #9966ff;
}